
*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: spacegrotesk;
    src: url("fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
    font-family: poppins;
    src: url("fonts/Poppins-Regular.ttf");
}
    

html{
    background-color: #1a1a1a;
    color: #ffffff;
    padding-top: 30px;
    font-family: poppins;
}
                          
#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5vw;
    grid-template-areas:
    "profilepic profilepic"
    "maintitle maintitle"
    "about about"
    "experience experience"
    "skills skills"
    "languages tools"
    "contacts contacts"
    "socials socials";
}
                          
aside{
    display: contents;
}

main{
    display: contents;
}

ul{
    list-style: none;
}

.subtitle{
    font-family: spacegrotesk;
    border-bottom: 1px solid #ffffff;
    margin-top: 10px;
}

.datetitle{
    font-size: 16px ;
    margin-top: 5px;
}

.texttitle{
    font-size: 20px;
}

.paragraph{
    margin-bottom: 15px;
}

#profilepic{
    grid-area: profilepic;
    justify-self: center;
    width: 60vmin;
    height: auto;
    border-radius: 30%;
}

header{
    grid-area: maintitle;
    justify-self: center;
    font-family: spacegrotesk;
    font-size: 6vw;
    text-align: center;
}

#aboutMyself{
    grid-area: about;
    /* text-align: center; */

}

#experience{
    grid-area:experience ;
    /* text-align: center; */
}

#skills{
    grid-area: skills;
    text-align: center;
}

#skills .textlist{
    display: flex;
    flex-wrap: wrap;
}

#skills .textlist li{
    flex: 1 1 50%;
}

#languages{
    grid-area:languages ;
    text-align: center;
}

#tools{
    grid-area: tools;
    text-align: center;
}

#contacts{
    grid-area: contacts;
    text-align: center;
}

footer{
    display: grid;
    grid-area: socials;

}

#titlesocials {
text-align: center;
}

#logos{
justify-self: center;
}

@media screen and (min-width: 1000px){
html{
    width: 1440px;
    height: 2048px;
    padding: 0px;
    }

#content{
    grid-template-columns:490px 860px ;
    grid-template-areas:
    "profilepic maintitle"
    "profilepic about"
    "contacts experience"
    "skills experience"
    "languages experience"
    "tools experience"
    "tools socials";
  }  
header{
    justify-self: start;
    font-family: spacegrotesk;
    text-align: start;
    font-size: 30px;
    margin-top: 90px;
}

#profilepic{
    grid-area: profilepic;
    justify-self: start;
    width: 400px;
    height: 400px;
    border-radius: 0%;
    margin-top: 90px;
}

.sectionAside{
    width: 400px;

}

#contacts{
    text-align: start;
    height: 149px;
}
#titlecontacts{
    margin-top: 30px;
    margin-bottom: 30px;
}

#skills{
    text-align: start;
    height: 310px;
}
#titleskills{
    margin-bottom: 30px;
    margin-top: 50px;
}
#languages{
    text-align: start;
    height: 205px;
}

#titlelanguages{
    margin-bottom: 30px;
    margin-top: 50px;
}

#tools{
    text-align: start;
    height: 258px;
}
#titletools{
    margin-bottom: 30px;
    margin-top: 50px;
}

li{
    padding-bottom: 24px;
    font-size: 21px;
}

.subtitle{
    font-family: spacegrotesk;
    border-bottom: 1px solid #ffffff;
    margin-top: 0px;
    font-size: 16px;
    height: 40px;
}

.datetitle{
    font-size: 18px ;
    margin-top: 42px;
}

.texttitle{
    font-size: 29px;
    margin-top: 12px;
}

.layoutSection{
    width: 770px;
}

.paragraph{
    font-size: 21.8px;
    margin-top: 12px;
    margin-bottom: 0px;
}

#abouttext{
    font-size: 21.8px;
    margin-top: 42px;
}
#titlesocials {
    text-align: start;
    }

#logos{
    justify-self: flex-start;
    margin-top: 36px;

}

#aboutMyself{
    margin-top: 76.6px;
}

#experience{
    margin-top: 66.7px;
}

footer{
    margin-top: 90px;
    width: 770px;
}

} 